.App {
  max-width: 600px;
  margin: 30px auto;
}

.Main {
  max-width: 400px;
  border: solid;
  background: radial-gradient(
    circle at -2.2% -3.8%,
    rgba(255, 227, 2, 0.41) 0%,
    rgb(59, 188, 241) 100.2%
  );
  border-radius: 15px;
  border-color: hsla(53, 98%, 51%, 0.9045);
  bottom: 0;
  max-height: 700px;
  display: block;
  margin-top: 10px;
  padding: 30px;
  right: 0;
}
